*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-image: url"C:\Users\asus\Downloads\c1.jpg";
}
 .navbar {
	display:flex;
	align-items : center;
	padding:20px;
 }
 nav {
	 flex:1;
	 text-align: right;
 }
 nav ul {
	 display: inline-block;
	 list-style-type:none;
 }
 nav ul li{
	 display: inline-block;
	 margin-right: 20px;
 }
 a{
	 text-decoration:none;
	 color: #555;
 }
 h2{
	 margin-left: 25px;
	 color: #660600;
 }
 p{
	 color:#555;
 }
 .container {
	 max-width: 1300px;
	 margin: auto;
	 padding-left:25px;
	 padding-right:25px;
 }
 .row {
	 display: flex;
	 align-items: center;
	 flex-wrap: wrap;
	 justify-content: space-around
 }
 .col-2 {
	 flex-basis:50%;
	 min-width:300px;
 }
 .col-2 img {
	 max-width:100%;
	 padding:50px 0;
 }
 .col-2 h1 {
	 font-size: 50px;
	 line-height: 60px;
	 margin:25px 0;
 }
 .btn {
	 display:inline-block;
	 background: #380300;
	 color:#fff;
	 padding: 8px 30px;
	 margin: 30px 0;
	 border-radius:30px;
	 transition: background 0.5s;
 }
 .btn :hover{
	 background:#ff523b;
 }
 
 .header .row {
	 margin-top:70 px;
 }
  .contact-page {
	  padding: 50px 0;
	  background-image: url("C:/Users/asus/Downloads/c1.jpg");
	  height:100%;
   background-position:center;
   background-repeat:no repeat;
   background-size: cover;
 }
 .form-container textarea{
   background: #e3cbca;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 11px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
 }
 .form-container {
	 background: #fff;
	 width: 750px;
	 height: 500px;
	 position:relative;
	 text-align:center;
	 padding:20px 0;
	 margin:auto;
	 box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
 }
 .footer {
	 background: #000;
	 color: #8a8a8a;
	 font-size: 14px;
	 padding: 60px 0 20px;
 }
 .footer p {
	 color: #8a8a8a;
 }
 .footer h3 {
	 color: #fff;
	 margin-bottom: 20px;
 }
 .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
	 min-width:250px;
	 margin-bottom: 20px;
	 
 }
  .footer-col-1{
	  flex-basis: 30px;
  }
    .footer-col-2{
	  flex: 1;
	  text-align:center;
  }
    .footer-col-2 img{
	width: 100px;
	height:100px;
	margin-bottom: 20px;
  }
    .footer-col-3,   .footer-col-4{
     flex-basis:12%;
	 text-align:center;
  }
  ul li{
	  list-style-type:none;
  }
  .app-logo {
	  margin-top: 20px;
  }
  
 .app-logo img {
	 width: 140px;
 }	 
 .footer hr {
	 border:none;
	 background:#b5b5b5;
	 height:1px;
	 margin:20px 0;
 }
 .copyright {
	 text-align:center;
 }
